{{!-- Here is the structure of our individual messages --}}



  <div class="card m-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">From : {{username}}</h6>
      <p class="card-text">"{{text}}"</p>
      <span class="badge rounded-pill bg-secondary">{{created}}</span>
      <a href="/product/{{productId}}" class="card-link mx-3">Post Link</a>
    </div>
  </div>
</div>